@tailwind base;
@tailwind components;
@tailwind utilities;
/* TABLE OF CONTENTS
  1. Global Styles
  2. Form Styles
  3. List Group Styles
  4. Dropdown Button Styles
*/

/* 1. Global Styles */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #1B2430 !important;
  /* background: var(--background) !important; */
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 2. Form Styles */
.input-style{
  border-radius: 140px;
}

.formtext-style{
  color: lightgrey;
}

.btnStyle{
  color: lightgrey !important;
  background-color: #4C3575 !important;
}

/* 3. List Group Styles */

.list-group-item {
  outline: none !important;
  border: none !important;
}

#lgTextStyle {
  font-size: 1.5rem; /* Increase font size */
  padding: 10px 40px; /* Add padding to increase the clickable area */
  color:white;
}

.list-group {
  width: 100%; /* Make ListGroup span the full width */
  max-width: 1000px; /* Limit maximum width */
  margin: 0 auto; /* Center horizontally */
}

/* Add more spacing between ListGroup and Dropdown buttons */
.mb-4 {
  margin-bottom: 2rem !important; /* Increase margin-bottom for more space */
}

/* 4. Dropdown Button Styles */
/* .drpdwnBtnStyle{
  color:beige !important;
  outline: none !important;
  border: none !important;
} */

.drpdownBtnStyle {
  color: beige !important;
  outline: none !important;
  border: none !important;
  width: 300px; /* Set a fixed width */
  text-align: center; /* Center the text */
}

button.btn {
  width: 300px;
  text-align: center;
}

/* 5. Playbutton Styles */
.playButtonContainer {
  margin-top: 20px; /* Adjust this as necessary */
  display: flex;
  justify-content: center;
}

.alertMessage {
  color: red;
  visibility: hidden; /* Initially hidden */
}

.alertMessage.show {
  visibility: visible; /* Only show when the alert is triggered */
}